name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build -f Dockerfile.dev -t testing . 
      - name: launching test
      - run: docker run -it testing npm run test
      - run: q
